.rangeInput {
  &::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    appearance: none;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -405px 0 0 400px #172A50;
    border-radius: 50%;
  }
}
